.header{
    width: 100%;
    background-color: orange;
    height: 150px;
} 
.left-section{
    width: 20%;
    float: left;
    height: 400px;
    background-color: orchid;
}
.right-section{
    width: 80%;
    float: left;
    height: 400px;
    background-color: rgb(30, 106, 108);
}
.footer{
    height: 150px;
    width: 100%;
    background-color: rgb(49, 55, 53);
}
.content{
    height: 400px;
}
body{
    margin: 0;
}