.outer-box{
    width: 100%;
    height: 500px;
    background-color: rebeccapurple;
    padding: 10px;
}
.box1{
    width: 40%;
    height: 30%;
    background-color: rgb(225, 65, 214);
    float: left;
    margin: 10px;
}
.box2{
    width: 40%;
    height: 30%;
    background-color: rgb(218, 207, 135);
    float: left;
    margin: 10px;
}
.box3{
    width: 40%;
    height: 30%;
    background-color: rgb(64, 123, 83);
    float: left;
    margin: 10px;
}
.box4{
    width: 40%;
    height: 30%;
    background-color: rgb(216, 66, 121);
    float: left;
    margin: 10px;
}